* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    background: black
}
header {
    padding: 20px 35px;
    background: linear-gradient(grey, black);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    color: white;
}
.header-name {
    font-size: 30px;

}

header nav {
    margin: 7px 0;
}
header a {
    text-decoration: none;
    color: white;   
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
.hero {
    background-image: url("./images/background.jpg");
    height: 400px;
    background-position: center;
 
}    

.recent-pic {
    max-width: 250px;
}
.info {
    background: black;
}

/*About Me*/
.about-me {
    display: flex;
    margin: 30px;
}
.about-me-title {
    border-right: 3px solid;
    border-color: grey;
    padding: 14px 0px 14px 27px;
    text-align: center;
    margin: 12px;
    width: 50%;
    flex: 1 20%;
}
.about-info {
    padding: 10px;
    text-align: center;
    flex: 2 80%;
}

/*Work*/

.work {
    display: flex;
    margin: 30px;
}
.work-title {
    border-right: 3px solid;
    border-color: grey;
    padding: 14px 14px 14px 55px;
    text-align: center;
    margin: 12px;
}
.service-grid-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact {
    display: flex;
    margin: 30px;
}

.contact-title {
    border-right: 3px solid;
    border-color: grey;
    padding: 14px 14px 14px 55px;
    text-align: center;
    margin: 12px;
}
.contact-info {
    text-align: center;
    margin: 20px;
    padding: 25px;
    flex: 2 80%;
}
.contact-info a{
    text-decoration: none;
    color: grey;
    padding: 8px
}

footer {
    text-align: right;
}
/*Contact Me*/